@import "nav.less";
@import "homepage.less";
@import "footer.less";
@import "detailspage.less";
@import "about.less";
@import "media.less";

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.main-clear-both {
  clear: both;
}

@main-color:#242528;
@main-color-opacity:0.3;


.main-duration {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s; /* Firefox 4 */
  -webkit-transition-duration: 0.2s; /* Safari 和 Chrome */
  -o-transition-duration: 0.2s; /* Opera */

  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}